.form {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  text-align: left;
  margin-bottom: 12px;
  color: #fff;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 420px) {
  .inputContainer {
    flex-direction: column;
    gap: 10px;
  }

  .form {
    flex-direction: column;
    gap: 10px;
  }

  .buttons {
    flex-direction: column;
  }
}
