.ellapsed {
  width: 300px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 4px 12px;
  border-bottom: 1px #7a7a7a solid;
  box-sizing: border-box;
}

.container.containerDeleting {
  transform: scale(1.05);
}

.container::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.container.containerDeleting::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: linear-gradient(20deg, #c2a920, #f40d0d);
  z-index: -1;
  transition: transform 0.6s ease;
}

.container span {
  display: flex;
  flex: 3;
  text-align: left;
}

.container span:nth-child(3) {
  flex: 2;
  font-weight: 600;
}
