#root {
}

h1 {
  font-size: 2rem;
  animation: show 2s ease-in;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 720px) {
  #root {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0.5rem;
  }
}

@media (max-width: 320px) {
  #root {
    padding: 0.2rem;
  }
}
