.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #7e7e7e;
  padding: 4px 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.header span {
  display: flex;
  flex: 3;
}

.header span:nth-child(2) {
  flex: 2;
}
